<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILove_PDF" version="1.1.0" targetFramework="net452" />
  <package id="JWT" version="2.3.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="StringInterpolationBridge" version="0.9.1" targetFramework="net452" />
</packages>