name: CI Build

on:
  push:
    branches-ignore: [ main, master, develop ]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        dotnet: [ 'net6.0', 'net45', 'netstandard2.0', 'netstandard1.5' ]
        
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v3 
        with: 
          dotnet-version: 6.0.x
            
      - name: Install dependencies
        run: dotnet restore src/ILovePDF
        
      - name: Build  ${{ matrix.dotnet }}
        run: dotnet build --configuration Release src/ILovePDF --no-restore --framework  ${{ matrix.dotnet }}
        
  build_all_in_net46:
    strategy:
      matrix:
        os: [ubuntu-latest]
        dotnet: [ 'net46' ]
        
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v3 
        with: 
          dotnet-version: 6.0.x
            
      - name: Install dependencies
        run: dotnet restore src/ILovePDF
        
      - name: Build  ${{ matrix.dotnet }}
        run: dotnet build --configuration Release --no-restore --framework  ${{ matrix.dotnet }}

  # test:
    # needs: [build]
    # runs-on: ubuntu-latest 
    # steps:
      # - name: Checkout repository
        # uses: actions/checkout@v3

      # - name: Set up .NET SDK
        # uses: actions/setup-dotnet@v3 
        # with: 
          # dotnet-version: 6.0.x
            
      # - name: Install dependencies
        # run: dotnet restore ILovePDF.sln

      # - name: Test
        # run: dotnet test ILovePDF.sln --no-restore --verbosity normal
